@tailwind base;
@tailwind components;
@tailwind utilities;

.rfm-marquee-container {
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  position: relative;
  width: var(--width);
  transform: var(--transform);
}
.rfm-marquee-container:hover div {
  animation-play-state: var(--pause-on-hover);
}
.rfm-marquee-container:active div {
  animation-play-state: var(--pause-on-click);
}

.rfm-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}
.rfm-overlay::before,
.rfm-overlay::after {
  background: linear-gradient(
    to right,
    var(--gradient-color),
    rgba(255, 255, 255, 0)
  );
  content: "";
  height: 100%;
  position: absolute;
  width: var(--gradient-width);
  z-index: 2;
  pointer-events: none;
  touch-action: none;
}
.rfm-overlay::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.rfm-overlay::before {
  left: 0;
  top: 0;
}

.rfm-marquee {
  flex: 0 0 auto;
  min-width: var(--min-width);
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  animation: scroll var(--duration) linear var(--delay) var(--iteration-count);
  animation-play-state: var(--play);
  animation-delay: var(--delay);
  animation-direction: var(--direction);
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animation-up-down {
  animation: MoveUpDown 3s ease-in-out infinite;
}

@keyframes MoveUpDown {
  0% {
    transform: translateY(0%) translateX(0%);
  }
  25% {
    transform: translateY(5%) translateX(-2%);
  }
  50% {
    transform: translateY(0%) translateX(0%);
  }
  75% {
    transform: translateY(5%) translateX(-2%);
  }
  to {
    transform: translateY(0%) translateX(0%);
  }
}

.rfm-initial-child-container {
  flex: 0 0 auto;
  display: flex;
  min-width: auto;
  flex-direction: row;
  align-items: center;
}

.rfm-child {
  transform: var(--transform);
}

.music-bounce {
  animation: music-bounce 1s infinite;
}

@keyframes music-bounce {
  0% {
    transform: scale(1.1);
  }
  25% {
    transform: scale(1.15);
  }
  50% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(1.15);
  }
  to {
    transform: scale(1.1);
  }
}

#root {
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
}
